# PyDrill Demonstration
This notebook demonstrates how to use the PyDrill module to connect to Apache Drill and query data. The complete documentation for PyDrill can be found at http://pydrill.readthedocs.io

The essential steps are:
1.  Import the module
2.  Open a connection to Drill
3.  Execute a query
4.  Do something with the results. 

You will first need to install PyDrill.  This can be done by opening a terminal and typing:
```python
pip install pydrill
```
## Step 1:  Import the PyDrill module
After you've done this, you will be able to import the PyDrill module.

In [1]:
from pydrill.client import PyDrill
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

## Step 2:  Open a connection to Drill
The next step is to open a connection to Drill.  Once you've opened the connection, you will want to verify that the connection was successfully opened before executing any queries.  PyDrill includes an `is_active()` method for this purpose.

In [2]:
#Open a connection to Drill
drill = PyDrill(host='localhost', port=8047)

#Verify the connection is active, throw an error if not.
if not drill.is_active():
    raise ImproperlyConfigured('Please run Drill first')

## Step 3: Execute a query and get the results
The next and final step is to execute a query in Drill.  When you call the `.query()` method, PyDrill returns an iterable object from which you can extract the rows of your results.  You can also get PyDrill to return a pandas DataFrame.

In [3]:
#Execute query in Drill
query_result = drill.query('''
SELECT JobTitle, 
AVG( TO_NUMBER( AnnualSalary, 'Â¤' )) AS avg_salary, 
COUNT( DISTINCT `EmpName` ) AS number
FROM dfs.drillclass.`baltimore_salaries_2016.csvh`
GROUP BY JobTitle
Order BY avg_salary DESC
LIMIT 50
''')

#Iterate through the rows.
for row in query_result:
    print( row )

{'JobTitle': "STATE'S ATTORNEY", 'number': '1', 'avg_salary': '238772.0'}
{'JobTitle': 'Police Commissioner', 'number': '1', 'avg_salary': '200000.0'}
{'JobTitle': 'Executive Director V', 'number': '1', 'avg_salary': '182500.0'}
{'JobTitle': 'MAYOR', 'number': '1', 'avg_salary': '171635.0'}
{'JobTitle': 'Executive Director III', 'number': '10', 'avg_salary': '171306.5'}
{'JobTitle': 'CITY SOLICITOR', 'number': '1', 'avg_salary': '169800.0'}
{'JobTitle': 'DIRECTOR PUBLIC WORKS', 'number': '1', 'avg_salary': '169800.0'}
{'JobTitle': 'CITY AUDITOR', 'number': '1', 'avg_salary': '163000.0'}
{'JobTitle': 'Deputy Police Commissioner', 'number': '2', 'avg_salary': '154900.0'}
{'JobTitle': 'Executive Director I', 'number': '4', 'avg_salary': '153905.0'}
{'JobTitle': 'Executive Director IV', 'number': '4', 'avg_salary': '149825.0'}
{'JobTitle': 'Assistant Fire Chief', 'number': '3', 'avg_salary': '146500.0'}
{'JobTitle': 'Chief of Utility Finances', 'number': '1', 'avg_salary': '140800.0'}
{'JobTitle': 'Police Colonel', 'number': '3', 'avg_salary': '138200.0'}
{'JobTitle': 'Executive Director II', 'number': '4', 'avg_salary': '136850.0'}
{'JobTitle': 'WWW Chief of Engineering', 'number': '1', 'avg_salary': '135000.0'}
{'JobTitle': 'SHERIFF', 'number': '1', 'avg_salary': '132600.0'}
{'JobTitle': 'WWW Division  Manager I', 'number': '1', 'avg_salary': '132600.0'}
{'JobTitle': 'Operations Director II', 'number': '9', 'avg_salary': '131915.77777777778'}
{'JobTitle': 'Operations Director I', 'number': '11', 'avg_salary': '131305.45454545456'}
{'JobTitle': 'Deputy Fire Chief', 'number': '9', 'avg_salary': '130748.33333333333'}
{'JobTitle': 'Police Lieutenant Colonel', 'number': '4', 'avg_salary': '130500.0'}
{'JobTitle': 'Police Major', 'number': '16', 'avg_salary': '123900.0'}
{'JobTitle': 'Deputy City Auditor', 'number': '1', 'avg_salary': '122700.0'}
{'JobTitle': 'FINANCE PROJECT MANAGER', 'number': '1', 'avg_salary': '121700.0'}
{'JobTitle': 'Operations Manager III', 'number': '11', 'avg_salary': '121591.81818181818'}
{'JobTitle': 'IT Division Manager', 'number': '5', 'avg_salary': '121590.0'}
{'JobTitle': 'DIRECTOR LEGISLATIVE REFERENCE', 'number': '1', 'avg_salary': '120841.0'}
{'JobTitle': 'DIRECTOR, PUBLIC PROGRAM', 'number': '1', 'avg_salary': '120700.0'}
{'JobTitle': 'PUBLIC HEALTH PHYSICIAN', 'number': '1', 'avg_salary': '120400.0'}
{'JobTitle': 'Director, Automated Traffic Vi', 'number': '1', 'avg_salary': '120000.0'}
{'JobTitle': 'MASTER', 'number': '3', 'avg_salary': '119916.0'}
{'JobTitle': 'WWW Division Manager II', 'number': '5', 'avg_salary': '118920.0'}
{'JobTitle': 'Police Captain', 'number': '17', 'avg_salary': '117200.0'}
{'JobTitle': 'Operations Manager II', 'number': '45', 'avg_salary': '116928.02222222222'}
{'JobTitle': 'LATENT PRINT EXAMINER SUPV', 'number': '1', 'avg_salary': '113700.0'}
{'JobTitle': 'PRESIDENT CITY COUNCIL', 'number': '1', 'avg_salary': '113649.0'}
{'JobTitle': 'COMPTROLLER', 'number': '1', 'avg_salary': '113649.0'}
{'JobTitle': 'Battalion Fire Chief Suppress', 'number': '25', 'avg_salary': '110851.08'}
{'JobTitle': 'Battalion Fire Chief, ALS Supp', 'number': '4', 'avg_salary': '110289.75'}
{'JobTitle': 'PROGRAM MANAGER IV SHERIFF', 'number': '1', 'avg_salary': '109968.0'}
{'JobTitle': 'DIRECTOR COUNCIL SERVICES', 'number': '1', 'avg_salary': '109000.0'}
{'JobTitle': 'GENERAL COUNSEL', 'number': '4', 'avg_salary': '108637.0'}
{'JobTitle': 'Operations Manager I', 'number': '46', 'avg_salary': '107725.56521739131'}
{'JobTitle': 'POLICE LIEUTENANT EID', 'number': '51', 'avg_salary': '107615.94117647059'}
{'JobTitle': 'POLICE LIEUTENANT', 'number': '55', 'avg_salary': '106699.18181818182'}
{'JobTitle': 'DIRECTOR ORAL HEALTH SERVICES', 'number': '1', 'avg_salary': '105800.0'}
{'JobTitle': 'Battalion Fire Chief EMS EMT-P', 'number': '6', 'avg_salary': '105033.5'}
{'JobTitle': "CHIEF STATE'S ATTORNEY", 'number': '47', 'avg_salary': '104826.74468085106'}
{'JobTitle': 'CHIEF SOLICITOR', 'number': '18', 'avg_salary': '104681.88888888889'}

### Retrieving a DataFrame
You can also get PyDrill to directly return a DataFrame by using the `.to_dataframe()` method of the results object.

In [4]:
df = query_result.to_dataframe()
df.head()

                 JobTitle avg_salary number
0        STATE'S ATTORNEY   238772.0      1
1     Police Commissioner   200000.0      1
2    Executive Director V   182500.0      1
3                   MAYOR   171635.0      1
4  Executive Director III   171306.5     10

## In Class Exercise:
Using the data in the `dailybots.csv` file use Drill to:
1.  Query the file to produce a summary of infections by day.
2.  Store this data in a dataframe using the `to_dataframe()` method.
3.  Create a line plot of this data by calling the .plot() method on the dataframe

In order to render the plot, you will need to convert the column containing the numeric field into a numeric data type. The command below converts a column called `bot_count` to a floating point number which can be rendered in a line chart.
```python
df.bot_count = df.bot_count.astype(float)
```

If you are unfamiliar with pandas and the corresponding plotting libraries, the documentation is available here: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html.